html, body, head, div {
    padding: 0px;
    margin: 0px;
    font-family: 'Quattrocento Sans';
    line-height: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: none;
}

/***** Fonts *****/

@font-face {
    font-family: 'Quattrocento Sans';
    src:
        local('Quattrocento-Sans')
        local('Quattrocento Sans')
        url("../fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf")
        format('truetype');
}

@font-face {
    font-family: 'Quattrocento Sans';
    src:
        local('Quattrocento-Sans')
        local('Quattrocento Sans')
        url("../fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf")
        format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Quattrocento Sans';
    src:
        local('Quattrocento-Sans')
        local('Quattrocento Sans')
        url("../fonts/Quattrocento_Sans/QuattrocentoSans-Italic.ttf")
        format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Quattrocento Sans';
    src:
        local('Quattrocento-Sans')
        local('Quattrocento Sans')
        url("../fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf")
        format('truetype');
    font-style: italic;
    font-weight: bold;
}

.one {
    font-family: 'Quattrocento Sans';
}

.two {
    font-family: 'Quattrocento Sans';
    font-weight: bold;
}

.three {
    font-family: 'Quattrocento Sans';
    font-style: italic;
}

.four {
    font-family: 'Quattrocento Sans';
    font-weight: bold;
    font-style: italic;
}

/*** End Fonts ***/

/***** Whitespace *****/

.clear-space {
    clear: both;
}

.mg-tp-0 {
    margin-top: 0;
}

.mg-tp-50 {
    margin-top: 50px;
}

.mg-bt-0 {
    margin-bottom: 0;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

/*** End Whitespace ***/

/***** Display *****/
.hidden {
    display: none;
}

.sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
}
/*** End Display ***/
