html, body, head, div {
    padding: 0px;
    margin: 0px;
    font-family: 'Quattrocento Sans';
    line-height: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

/***** Fonts *****/

@font-face {
    font-family: 'Quattrocento Sans';
    src:
        local('Quattrocento-Sans')
        local('Quattrocento Sans')
        url("../fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf")
        format('truetype');
}

@font-face {
    font-family: 'Quattrocento Sans';
    src:
        local('Quattrocento-Sans')
        local('Quattrocento Sans')
        url("../fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf")
        format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Quattrocento Sans';
    src:
        local('Quattrocento-Sans')
        local('Quattrocento Sans')
        url("../fonts/Quattrocento_Sans/QuattrocentoSans-Italic.ttf")
        format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Quattrocento Sans';
    src:
        local('Quattrocento-Sans')
        local('Quattrocento Sans')
        url("../fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf")
        format('truetype');
    font-style: italic;
    font-weight: bold;
}

/*** End Fonts ***/

/***** Nav *****/

/* Header */
.header {
    z-index: 1000;
    height: 50px;
    background-color: rgba(57,57,57,0.7);
    color: #fff;
    margin-top: -50px;
    position: relative;
}

.nav-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-link {
    display: inline-block;
    margin-right: 10px;
}

.nav-link a, .nav-link a:visited, .nav-link a:focus, .nav-link a:active {
    color: #fff;
    text-decoration: none;
}

/* Contact Container */
.contact-container {
    position: relative;
    z-index: 777;
    width: 100%;
    height: calc(100vh - 50px);
}

.contact {
    position: relative;
    z-index: 777;
    color: #4c4d4e;
    background: #f3f0f0;
    width: 100%;
    max-width: 480px;
    height: 498px;
    padding: 40px;
    margin: 0 auto;
    top: calc(50% - 238px);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

textarea {
    resize: none;
}

.contact-container input[type="text"], .contact-container textarea {
    padding: 7px 12px;
    width: 100%;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
}

.contact-container label {
    padding-bottom: 5px;
    width: 100%;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
}

.contact-container input[type="submit"] {
    font-size: 14px;
    padding: 7px 12px;
    background: rgba(57,57,57,0.7);
    border: none;
    box-shadow: none;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


/* Footer */
.footer {
    z-index: 1000;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(57,57,57,0.7);
    color: #fff;
}

.footer-link p {
    color: #fff;
    display: inline-block;
    margin: 0;
}

.footer-link a, .footer-link a:visited, .footer-link a:focus, .footer-link a:active {
    color: #fff;
    position: relative;
    top: -17px;
}

.footer-link a:hover {
    font-weight: bold;
}

.footer-link img {
    height: 25px;
    width: 25px;
    margin: 15px 5px 10px 0;
    padding: 0;
}

/*** End Nav ***/

/***** Universal *****/

/*** Containers ***/
.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.text-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-one-third {
    width: 33%;
    display: inline-block;
}
/* End Containers */

/*** Whitespace ***/
.clear-space { clear: both; }
.mg-tp-0 { margin-top: 0; }
.mg-bt-0 { margin-bottom: 0; }
.center { margin: 0 auto; }
.text-center { text-align: center; }
/* End Whitespace */

/*** Display ***/
.hidden {
    display: none;
}

.sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
}
/* End Display */

/*** End Universal ***/
